{% extends "account/base.html" %}
{% load socialaccount %}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
{% block content %}

<body>
    <h1>Home</h1>
    {% if user.is_authenticated %}
    <p>Welcome, you are logged in as user {{ user.firstname }}</p>
    <div class="col-md-3">
        <form method="POST" action="{% url 'complete-profile' %}" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="form-outline mb-4">
                <input type="text" name="brand_name" class="form-control" minlength="1" maxlength="30" required
                    id="brand_name">
                <label class="form-label" for="brand_name">Brand Name</label>
            </div>

            <div class="form-outline mb-4">
                <input type="text" name="tagline" class="form-control" required id="tagline">
                <label class="form-label" for="tagline">Tagline</label>
            </div>

            <label class="form-label" for="brand_logo">Brand Logo</label>
            <div class=" form-outline mb-4">
                <input type="file" name='brand_logo' required id="brand_logo" class="form-control" multiple
                    accept="image/*" />

            </div>

            <div class="form-outline mb-4">
                <input type="text" name="address" class="form-control" minlength="1" maxlength="30" required
                    id="address">
                <label class="form-label" for="address">Address</label>
            </div>

            <div class="form-outline mb-4">
                <input type="number" name="phone_no" class="form-control" minlength="9" maxlength="15" required
                    id="phone_no">
                <label class="form-label" for="phone_no">Phone No.</label>
            </div>

            <div class="form-outline mb-4">
                <input type="email" name="brand_email" class="form-control" minlength="1" maxlength="30" required
                    id="brand_email">
                <label class="form-label" for="brand_email">Email Address</label>
            </div>

            <div class="form-outline mb-4">
                <input type="text" name="brand_instagram" class="form-control" required id="id_brand_instagram">
                <label class="form-label" for="id_brand_instagram">Your Instagram Link</label>
            </div>

            <button type="submit" class="btn btn-primary mb-4">Submit</button>
        </form>

        {% else %}
        <a href="{% provider_login_url 'google' %} ">Login with Google.</a>
        {% endif %}
    </div>
    <hr>

    <script src="" async defer></script>
</body>
{% endblock %}

</html>